
div{
    border-radius: 5px;


}

.big {
    background: cadetblue;
    width: 1300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.father {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;


}

.box {
    width: 400px;
    height: 300px;
    background: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

}