body{
    height: 100%;
    margin-top: 100px;

}
.box{
    background: silver;
    width: 70%;
    height: 100%;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.width100{
    background: blue;
    width : 100px;
    margin: 8%;
    position: relative;
    top: -120px;
    border-radius: 10px;

}

.height50{
    height: 100px;
}

