body{
    height: 100%;


}
.top-box{
    background: grey;
    height: 200px;


}
.box{
    background: silver;

    height: 200px;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.width100{
    background: blue;
    width : 100px;
    display: flex;
    position: relative;
    top: -50px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;


}

.height50{
    height: 100px;
}

